.post-margins {
    margin-top: 5rem;    
    margin-bottom: 2rem;
}

.card-margins {
    margin-top: 3rem;
}

.card-header {
    background-color: white;
    border-color: white;
}

.card-footer {
    background-color: white;
    border-color: white;
}

#page-title h2 {
    margin-top: 5rem;
}

.comments-padding{
    padding-right: 2rem;
}

footer {
    margin-top: 2rem;
}

.far {
    font-size: 2rem;
    padding-right: 2rem;
}