.card-margins {
    margin-top: 3rem;
}

.card-header {
    background-color: white;
    border-color: white;
}

.card-footer {
    background-color: white;
    border-color: white;
}

.post-user {
    padding-right: 0.6rem;
}

.number-comments{
    padding-right: 2rem;
}

#post_btn {
    background-color: #3355ae;
    border: #3355ae;
}