.card-margins {
    margin-top: 3rem;
}

.card-header {
    background-color: white;
    border-color: white;
}

.card-footer {
    background-color: white;
    border-color: white;
}

.comments-padding{
    padding-right: 2rem;
}