.comment {
    margin-top: 3rem;
}

.comment-header {
    padding: 0.5rem 0 0.5rem 1rem;
    margin-top: 0.3rem;
}

.comment-user-icon {
    padding-right: 0.6rem;
}

.comment-body {
    font-size: large;
    line-height: 200%;
}

.subcomment {
    margin-top: 1rem;
    margin-left: 2.5rem;
}

.subcomment-header {
    padding: 0.5rem 0 0 1rem;
    margin-top: 0.3rem;
}

.add-comment-button {
    margin-top: 1rem;
    margin-left: 1.3rem;
    margin-bottom: 1rem;
    background-color: rgb(175, 175, 175);
    border: none;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    font-size: larger;
    font-weight: bold;
    color: white;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.add-comment-button:hover{
    background-color: #1ca9b1;
}

#collapseForm {
    background-color: white;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    padding: 1rem;
    padding-bottom: 0.5rem;
    border-radius: 20px;
}