html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

#post_btn {
    width: 20%;
}

#mainArea {
    background-color: rgb(245, 245, 245);
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.paginationPresenter {
    padding-top: 1rem;
}

@media only screen and (max-width: 768px) {
   #homepage .col-6 {
       flex: 1 1 100%;
       max-width: 100%;
   }
}