html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
}

#post_btn {
    width: 20%;
}

#newPost {
    background-color: rgb(245, 245, 245);
    padding-top: 5rem;
    padding-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
   #homepage .col-6 {
       flex: 1 1 100%;
       max-width: 100%;
   }
}

#sec_title{
    margin-top: -4rem;
}

#post-division{
    border: 0.1rem solid #3355ae;
    margin-top: 2rem;
}