.background-gradient-blue {
  background: #24c6dc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3355AE,
    #0AEDB3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3355AE,
    #0AEDB3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-gradient-blue {
  background: linear-gradient(to right, #3355AE, #0AEDB3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#loginLabel{
  color: #3355AE;
}

#email::placeholder, #password::placeholder{
  color: #1ca7f0;
}

button[type="Submit"] {
  color: #1ca7f0;
  transition-duration: 0.4s;
  border: 2px solid #1ca7f0;
}

button[type="Submit"]:hover {
  background-color: #1ca7f0;
  color: white;
  border: 2px solid #1ca7f0;
}

#login_btn:hover{
  color:black;
}

#email, #password, span.error {
  margin-top: 1rem;
  margin-bottom: 1rem;
}