#butons {
    margin-bottom: 2rem;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

main {
    padding-top: 0;
}

.card {
    margin-top: 2rem;
    padding-left: 1rem;
}

#profile_picture {
    padding: 1rem 2rem 1rem 1rem;
}

.icon-ellipsis {
    padding: 1rem 1rem 1rem 2rem;
}

@media (min-width: 992px){ 
    #profileArea {
        padding-right: 5rem;
    }
}

#nav {
    margin-top: 5rem
}

#tabs {
    margin-bottom: 3rem;
    margin-top: 10rem;
}

#MyRatings p {
    font-size: larger;
}

#manage_create_requests_button, #manage_join_requests_button{
    width: 15rem;
    font-size: small;
    background-color: #3355ae;
    border: #3355ae;
}

div.justify-content-around > a:nth-child(1){
    padding: 0;
    margin-bottom: 0.5rem;
}

#editProfileButton{
    margin-top: 0.5rem;
    width: 15rem;
    font-size: small;
    background-color: #24c6dc;
    border: #24c6dc;
}

div.d-flex:nth-child(1){
    margin-right: 2rem;
}

.icon-like, .icon-add_friend{
    font-size: 2.5rem;
}
