#results_info > h2, #results_info > p{
    margin-bottom: 0;
}

html, body, #results_info, #content, #results_title, #results{
    background-color: ghostwhite;
}

#page-title{
    background-color: white;
}

#fields > *{
    margin: 0.25rem;
}