#page-title h2 {
    margin-top: 5rem;
}

#student_identification{
    border: 0.1rem solid #3355ae;
    margin-left: 2rem;
    margin-right: 2rem;
}

#MyCUs {
    margin-left: 2.3rem;
    margin-right: 2.3rem;
}

#MyCUs h4 {
    margin-bottom: 1.3rem;
}

.likes_friend {
    font-size: 1.6rem;
}

#page-title > section.row-md-auto.d-none.d-md-block.d-md-none > ul {
    padding-left: 0px;
}

#MyCUs > ul {
    padding-left: 3rem;  
    padding-right: 3rem; 
    margin-top: 2rem
}

.profile-button {
    color: #3355ae;
    font-size: 7rem;
    font-weight: 100;
}

.img-circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
}