#header{
    padding: 0 1rem 0 1rem;
    background-color: white;
    border-bottom: 0.2rem solid;
    border-image-source: linear-gradient(to right, #3355ae, #0aedb3);
    border-image-slice: 1;
}

#logo{
    font-size: 2.7rem;
    color: #3355ae;
}

#header > button .icon-menu{
    color: #0aedb3;
}

#navbarCollapse > ul i{
    color: #0aedb3;
    font-size: 1.7rem;
}

#navbarCollapse > ul i:hover{
    color: #564946;
}

#navbarCollapse > ul > li{
    margin-top: 1%;
    margin-bottom: 1%;
}

#navbarCollapse > ul > li > * {
    display: inline;
}

#navbarCollapse > ul > li > span {
    color: #564946;
}

#search{
    display: flex;
    flex-wrap: nowrap;
    flex-basis: 40%;
}

#search > input{
    display: flex;
    flex-basis: 90%;
    width: max-content;
    color: #564946;
}

#search > button{
    color: #13cad2;
    background-color: #f8f9fa;
    margin: 0.25rem;
}

#search > button:hover {
    background-color: #564946;
    border-color: #564946;
}