h2 {
    margin-top: 5rem;
}

#student_identification{
    border: 0.05rem solid #13cad2;
    margin-left: 2rem;
    margin-right: 2rem;
}

#MyCUs {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

#MyCUs h4 {
    margin-bottom: 1.3rem;
}

.likes_friend {
    font-size: 1.6rem;
}

#page-title > section.row-md-auto.d-none.d-md-block.d-md-none > ul {
    padding-left: 0px;
}