h2 {
    margin-top: 5rem;
}

#student_identification{
    border: 0.05rem solid #13cad2;
    margin-left: 2rem;
    margin-right: 2rem;
}


.likes_friend {
    font-size: 1.6rem;
}

#page-title > section.row-md-auto.d-none.d-md-block.d-md-none > ul {
    padding-left: 0px;
}

#MyCUs > ul{

    padding-left: 0px;

}